
    body {
        margin: 0px;
        background-color: #eee;
    }

    #footer{
        background-color: #DFEFFF;
        height:100px;
        width: 100%;
    }

    #logo {
        height: 50px;
        width: 100px;
    }
    @media (min-width: 770px ) {
        #header{
            position: fixed;
            z-index: 100;
            width:100%;
        }
    }


    #HOT,#New {
        border: 1px solid #DFEAF1;
        margin: 20px 0 20px 0;
        height: auto;
    }
    .trend{
         display: block;
         height: 80%;
         padding: 20px 0;
    }

    ._hot a{
        width: 100%;
        height: 100%;
    }

    ._hot {
        background: #FFFFFF;
        border: 1px solid white;
        overflow: hidden;
        position: relative;
    }

    img{
        width: 100%;
        height: 100%;
    }

    .hot-label {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 0px;
        left: 0px;
        background: url(../images/hot.png) no-repeat;
    }

    .slides-img{
        width:200px;
        height:auto;
    }

    .slides-caption {
        background-color: rgba(0, 0, 0, 0.3);
        bottom: 0px;
        color: white;
        position: absolute;
        text-align: center;
        width: 180px;
    }

    .slides-caption h4, p {
        margin: 0;
        font-size: 12px;
        color: white;
        width: 100%;
    }

    new-label {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 0px;
        left: 0px;
        background: url(../images/new.png) no-repeat;
    }

    a {
        text-decoration: none;
    }

    h3 {
        color: crimson;
        margin-left: 16px;
    }

    #Type, #Chart {
        background: #DFEFFF;
        border: 5px solid #DFEFFF;
        display: inline-block;
        font-size: 16px;
        height: 300px;
        margin: 20px 0 0 50px;
        padding: 10px 0 0 0px;
        width: 300px;
    }

    #Type ul {
        display: inline-block;
    }

    li {
        display: block;
        padding: 5px 0px;
    }

    li:hover{
        color: red;
    }

    li img {
        height: 20px;
        width: 20px;
        margin-left: -16px;
    }

    .novel_title h3{
        width:100%;
        text-align:center;
    }

    .novel_title p{
        margin: auto;
    }
    .novel_description{
        background: #DFEFFF;
        border: 1px solid #DFEAF1;
        display: inline-block;
        float: left;
        margin: 20px 0px 20px 20%;
        height: auto;
        width: 40%;
        padding:20px;
        font-size: 18px;
    }
    .novel_description ._hot{
        background: #FFFFFF;
        border: 1px solid white;
        display: inline-block;
        height: 250px;
        margin: 20px 5px 0px 5px;
        overflow: hidden;
        position: relative;
        width: 180px;
    }
    .novel_describe_tittle{
        text-align: center;
        width: 100%;
        color: darkgreen;
    }
    .novel_describe{
        display:block;
        float: right;
        width:50%;
        margin-right: 10%;
    }
    .list_chapter{
        background: #DFEFFF;
        border: 5px solid #DFEFFF;
        font-size: 16px;
        margin: 280px 0 50px 20%;
        padding: 10px 0 0 0px;
        width: 500px;
    }
    .list_chapter h3{
        margin: 0 10px 10px 30px;
    }
    .list_chapter li{
        display: block;
        padding: 5px 0px;
    }